{% comment %} {{ 'fader-icons.css' | asset_url | stylesheet_tag }} {% endcomment %}
    <div class="product-values">
      <div class="grid">
      
        <div class="grid__item small--one-third medium-up--one-fifth ">
          <div class="product-value--content text-center">
            <div class="default">
              <img src="{{ 'icon-bkup.png' | asset_url }}" alt="" style="width: 100%" loading="lazy"/>
              <p></p>
            </div>
            <div class="hover"><p>DRY CLEANING INCLUDED</p></div>
          </div>
        </div>
      
        <div class="grid__item small--one-third medium-up--one-fifth ">
          <div class="product-value--content text-center">
            <div class="default">
              <img src="{{ 'icon-pay.png' | asset_url }}" alt="Try any dress at reduced cost for a day *valid Mondays"  style="width: 100%" loading="lazy"/>
              <p></p>
            </div>
            <div class="hover"><p>BOUTIQUE TRY-ONS</p></div>
          </div>
        </div>
      
        <div class="grid__item small--one-third medium-up--one-fifth ">
          <div class="product-value--content text-center">
            <div class="default">
              <img src="{{ 'icon-deliver.png' | asset_url }}" alt="BACKUP DRESS OPTION"  style="width: 100%" loading="lazy"/>
              <p></p>
            </div>
            <div class="hover"><p>BACKUP DRESS OPTION</p></div>
          </div>
        </div>
      
        <div class="grid__item small--one-third medium-up--one-fifth ">
          <div class="product-value--content text-center">
            <div class="default">
              <img src="{{ 'icon-return.png' | asset_url }}" alt="RETURN IF IT DOESN'T FIT"  style="width: 100%" loading="lazy"/>
              <p></p>
            </div>
            <div class="hover"><p>RETURN IF IT DOESN'T FIT</p></div>
          </div>
        </div>
      
        <div class="grid__item small--one-third medium-up--one-fifth ">
          <div class="product-value--content text-center">
            <div class="default">
              <img src="{{ 'icon-store.png' | asset_url }}" alt="EASY & SAFE PAYMENT"  style="width: 100%" loading="lazy"/>
              <p></p>
            </div>
            <div class="hover"><p>EASY & SAFE PAYMENT</p></div>
          </div>
        </div>
      
      </div>
    </div>




</div>